target/
.idea
data-service.iml

common/target/
common/common.iml

sink-clickhouse/target/
sink-clickhouse/sink-clickhouse.iml

sink-elasticsearch/target/
sink-elasticsearch/sink-elasticsearch.iml

sink-mysql/target/
sink-mysql/sink-mysql.iml

sink-screen/target/
sink-screen/sink-screen.iml
